<div id="printSection">

  <form [formGroup]="observationForm" (ngSubmit)="onSubmit()" class="space-y-10 p-4">
    <ng-container *ngFor="let section of sections; let sIdx = index">
      <div *ngIf="section.id !== 8 || 
           (section.id === 8 && (
              (mode === 'edit' && entryStatus === 'complete') || 
              (mode === 'view' && isReview === true)
           ))" class="border p-4 rounded shadow">

        <h2 class="font-bold text-lg border-b pb-2 mb-4  bg-[#0087BD] pl-2 flex items-center justify-between">
          <div class="flex items-center gap-2">
            <!-- <button
      type="button"
      (click)="toggleSection(sIdx)"
      class="transform transition-transform duration-300 text-black text-xl font-bold focus:outline-none"
      [ngClass]="{
        'rotate-180': sectionOpenStates[sIdx]
      }">
      ^
    </button> -->
            <span>{{ section.sectionName }}</span>
          </div>
        </h2>
        <!-- <div *ngIf="sectionOpenStates[sIdx]"> -->
        <div [formArrayName]="'section_' + sIdx">
          <div *ngFor="let group of getSectionFieldGroups(sIdx).controls; let gIdx = index" [formGroupName]="gIdx"
            class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-4">

            <ng-container *ngFor="let field of section.fields">
              <div>
                <label class="block font-medium">
                  {{ field.label }}
                  <span *ngIf="isRequiredField(field)" class="text-red-500 ml-1 bg-white">*</span>
                </label>

                <ng-container [ngSwitch]="field.type">
                  <input *ngSwitchCase="'text'" type="text" [formControlName]="field.name"
                    class="w-full border p-2 rounded bg-white" />

                  <textarea *ngSwitchCase="'textarea'" [formControlName]="field.name"
                    class="w-full border p-2 rounded bg-white"></textarea>

                  <input *ngSwitchCase="'date'" type="date" [formControlName]="field.name"
                    [attr.min]="getMinDate(field)" [attr.max]="getMaxDate(field)"
                    class="w-full border p-2 rounded bg-white" />

                  <input *ngSwitchCase="'time'" type="time" [formControlName]="field.name"
                    (change)="validateTime(field.name, sIdx, gIdx)" class="w-full border p-2 rounded bg-white" />

                  <select *ngSwitchCase="'dropdown'" [formControlName]="field.name"
                    (change)="onDropdownChange(field.name, $event)" class="w-full border p-2 rounded bg-white">
                    <option [ngValue]="null">-- Select {{ field.label }} --</option>
                    <option *ngFor="let opt of field.options" [value]="opt.id">{{ opt.label }}</option>
                  </select>
                  <!-- <ng-multiselect-dropdown
  *ngIf="field.type === 'multiselect'"
  [placeholder]="field.placeholder"
  [data]="field.options"
  [(ngModel)]="formData[field.name]"
  [settings]="dropdownSettings"
  [idField]="dropdownSettings.id"
  [textField]="dropdownSettings.label"
  (onSelect)="onItemSelect($event)"
  (onDeSelect)="onItemDeSelect($event)"
  (onSelectAll)="onSelectAll($event)"
  (onDeSelectAll)="onDeSelectAll($event)">
</ng-multiselect-dropdown> -->

                  <!-- <ng-container *ngSwitchCase="'multiselect'">
                    <ng-container *ngIf="field.options?.length && getDropdownSettings(field)">
                      <ng-multiselect-dropdown [data]="field.options" [settings]="getDropdownSettings(field)"
                        [formControlName]="field.name">
                      </ng-multiselect-dropdown>
                    </ng-container>
                  </ng-container> -->

                  <div *ngSwitchCase="'label'" class="bg-yellow-100 p-2 rounded">
                    {{ getLabelValue(field.name) }}
                  </div>

                  <!-- File Upload -->
                  <ng-container *ngSwitchCase="'file'">
                    <div class="border border-dashed p-4 rounded bg-blue-200 text-center cursor-pointer"
                      (drop)="onFileDrop($event, sIdx, gIdx, field.name)" (dragover)="onDragOver($event)"
                      (dragleave)="onDragLeave($event)" *ngIf="mode !== 'view'">
                      <p>Drag & Drop file here or click to select</p>
                      <input type="file" (change)="onFileChange($event, sIdx, gIdx, field.name)" class="hidden"
                        #fileInput />
                      <button type="button"
                        class="mt-2 cursor-pointer text-sm underline bg-gray-600 text-white px-6 py-2 rounded hover:bg-gray-700"
                        (click)="fileInput.click()">Browse</button>
                    </div>

                    <div *ngIf="group.get(field.name)?.value" class="text-blue-600 text-sm mt-2">
                      Selected File:
                      <a *ngIf="group.get(field.name)?.value?.documentPath"
                        [href]="group.get(field.name)?.value?.documentPath" target="_blank" download
                        class="underline text-blue-700 hover:text-blue-900">
                        {{ group.get(field.name)?.value?.fileName }}
                      </a>
                    </div>
                  </ng-container>

                </ng-container>

                <div *ngIf="group.get(field.name)?.touched && group.get(field.name)?.errors?.['required']"
                  class="text-red-500 text-sm">
                  {{ field.label }} is required
                </div>
              </div>
            </ng-container>

            <ng-container *ngIf="mode !== 'view'">
              <div class="col-span-3 text-right">
                <button *ngIf="isSectionRepeatable(section) && getSectionFieldGroups(sIdx).length > 1" type="button"
                  (click)="removeSectionFieldGroup(sIdx, gIdx)"
                  class="bg-red-600 cursor-pointer text-white px-6 py-2 rounded hover:bg-red-700 shadow">
                  Remove
                </button>
              </div>
            </ng-container>
          </div>

          <ng-container *ngIf="mode !== 'view'">
            <button *ngIf="isSectionRepeatable(section)" type="button" (click)="addSectionFieldGroup(sIdx)"
              class="bg-green-600 cursor-pointer text-white px-6 py-2 rounded hover:bg-green-700 shadow">
              Add
            </button>
          </ng-container>
          <!-- </div> -->
        </div>
      </div>
    </ng-container>

    <div class="text-right mt-4 space-x-4">
      <ng-container *ngIf="entryStatus !== 'complete'">
        <button type="button" (click)="onDraftSave()"
          class="bg-orange-500 cursor-pointer text-white px-6 py-2 rounded hover:bg-orange-600 transition shadow-lg hover:shadow-orange-500/100">
          Save as Draft
        </button>
      </ng-container>

      <ng-container *ngIf="mode !== 'view'">
        <button type="submit" class="text-white px-6 py-2 rounded transition shadow-lg cursor-pointer" [ngClass]="{
          'bg-blue-600 hover:bg-blue-700 hover:shadow-blue-500/100 ': getButtonLabel() === 'Submit',
          'bg-green-600 hover:bg-green-700 hover:shadow-green-500/100 ': getButtonLabel() === 'Released',
          'bg-yellow-500 hover:bg-yellow-600 hover:shadow-yellow-500/100': getButtonLabel() === 'Review'
        }">
          {{ getButtonLabel() }}
        </button>
      </ng-container>

      <button type="button" (click)="onBack()"
        class="bg-red-600 cursor-pointer text-white px-6 py-2 rounded hover:bg-red-700 transition shadow-lg hover:shadow-red-500/100">
        Back
      </button>

    </div>
  </form>



</div>